<header>
		<!--<img src="../assets/logo.png"/>-->
			<div>
				<span>learnClan</span>
		   <i class=" circular search link icon">
	    </i>
	    <i class="material-icons-outlined">
	account_circle
	    </i>
    </div>
			<ul class="navigation">
				<li *ngFor="let navEl of navEls">{{navEl}}</li>
			</ul>
</header>
<div class="background_color">
	<section class="banner">
	<svg viewBox="0 0 500 500">
  <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />
  <text width="500">
    <textPath xlink:href="#curve">
      Empowering you!
    </textPath>
  </text>
</svg>
	</section>
</div>
<section class="main">
	<div>
<h1>DO MORE WITH LEARNCLAN</h1>
	<div class="courses right">
		<img class="right" src="../assets/decision-making.svg" />
		<h2>FINISH AHEAD OF YOUR COLLEAGUES</h2>
		<p>
		take that course properly tailored for your curriculum needs by renowned proffessors of A.B.U, all at your own convenience, own your education, just the way you want it.
		<button class="positive ui button uppercase">get started</button>
		</p>
	</div>
	<div class="classifieds left">
		<img class="left" src="../assets/classifieds.svg" />
		<h2>FREEDOM TO GO MINIMALIST</h2>
		<p>
		get rid of educational material, lab coats, housewares and gadgets that you are in no use of with just a few tap
		<button class="positive ui button lowercase">learn more</button>
		</p>
	</div>
	<div class="repository right">
		<img class="right" src="../assets/book.svg" />
		<h2> FREE EDUCATIONAL MATERIALS</h2>
		<p>
		access popular lesson notes, lecture manuals, lecture tailored texts books, all for free!!!
		<button class="positive ui button lowercase">learn more</button>		
		</p>
	</div>
	<div class="community left">
		<img class="left" src="../assets/team.svg" />
		<h2>A STRONG NETWORK</h2>
		<p>
		get the help you deserve, stay ontop of school activities, solve more problems in less time, get aware with conversational trends in your class, request for a mentor and stay on top of your game.
		<button class="positive ui button uppercase">Start now</button>
		</p>
	</div>
	</div>
	<h1 class="title">WHY YOU SHOULD USE LEARNCLAN</h1>
	<section class="recommendations testimonials">
		<h1>
			<div class="ui four statistics">
		  <div class="statistic">
		    <div class="value">
		      22
		    </div>
		    <div class="label">
		      Sales
		    </div>
		  </div>
		  <div class="statistic">
		    <div class="text value">
		      Three<br>
		      Thousand
		    </div>
		    <div class="label">
		      downloads
		    </div>
		  </div>
		  <div class="statistic">
		    <div class="text value">
		      <i class="graduation icon"></i> 5
		    </div>
		    <div class="label">
		      courses taken
		    </div>
		  </div>
		  <div class="statistic">
		    <div class="value">
		      <img src="../assets/avatar/020-teenager.svg" class="ui circular inline image">
		      42
		    </div>
		    <div class="label">
		      sign ups
		    </div>
      </div>
    </div>
		</h1>
    <div class="ui card">
        <div class="image">
          <img src="../assets/avatar/020-teenager.svg">
        </div>
        <div class="content">
          <div class="header">Steve Jobes</div>
          <div class="meta">
            <a>Acquaintances</a>
          </div>
          <div class="description">
            Steve Jobes is a fictional character designed to resemble someone familiar to readers.
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2014
          </span>
          <span>
            <i class="user icon"></i>
            151 Friends
          </span>
        </div>
    </div>
   <div class="ui card">
        <div class="image">
          <img src="../assets/avatar/020-teenager.svg">
        </div>
        <div class="content">
          <a class="header">Stevie Feliciano</a>
          <div class="meta">
            <span class="date">Joined in 2014</span>
          </div>
          <div class="description">
            Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            22 Friends
          </a>
        </div>
     </div>
     <div class="ui card">
        <div class="image">
          <img src="../assets/avatar/020-teenager.svg">
        </div>
        <div class="content">
          <div class="header">Steve Jobes</div>
          <div class="meta">
            <a>Acquaintances</a>
          </div>
          <div class="description">
            Steve Jobes is a fictional character designed to resemble someone familiar to readers.
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2014
          </span>
          <span>
            <i class="user icon"></i>
            151 Friends
          </span>
        </div>
    </div>
   <div class="ui card">
        <div class="image">
          <img src="../assets/avatar/020-teenager.svg">
        </div>
        <div class="content">
          <a class="header">Stevie Feliciano</a>
          <div class="meta">
            <span class="date">Joined in 2014</span>
          </div>
          <div class="description">
            Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            22 Friends
          </a>
        </div>
      </div>
	</section>
	<section class="call_to_action">
	   <h2> READY TO BEGIN?</h2>
		  <p>sign up today to start optimizing your life
		  </p>
		  <div>
	   	 <button class="positive ui button uppercase"> view courses</button>
	    	<button class="positive ui button uppercase">sign up</button>
	    </div>
  </section>
</section>
<footer>
	<div>logo| motto</div>
	
	<div>partners</div>
	<div>
		<div>become a patron</div>
		<div class="ui action input">
     <input type="email" placeholder="email...">
     <button class="ui button uppercase">save</button>
   </div>
	</div>
	<div>developer</div>
	<div>career</div>	
	<button class="ui circular facebook icon button"> <i class="facebook icon"></i> </button> <button class="ui circular twitter icon button"> <i class="twitter icon"></i> </button> <button class="ui circular linkedin icon button"> <i class="linkedin icon"></i> </button> <button class="ui circular google plus icon button"> <i class="google plus icon"></i> </button>
</footer>