<header>
		<!--<img src="../assets/logo.png"/>-->
			<div>
				<span>learnClan</span>
		   <i class=" circular search link icon">
	    </i>
	    <i class="material-icons-outlined">
	account_circle
	    </i>
    </div>
			<ul>
				<li *ngFor="let navEl of navEls">{{navEl}}</li>
			</ul>
</header>
<section class="banner">
	<span>empowering</span>
	<span>you</span>
</section>
<section class="courses">
	take that course properly tailored for your curriculum needs by renowned proffessors of A.B.U, all at your own convenience, own your education, just the way you want it.
</section>
<section class="classifieds">
	get rid of educational material, lab coats, housewares and gadgets that you are in no use of with just a few tap
</section>
<section class="repository">
	access popular lesson notes, lecture manuals, lecture tailored texts books, all for free!!!
</section>
<section class="community">
	get the help you deserve, stay ontop of school activities, connect with your colleagues, get aware with conversational trends in your class, request a mentor. stay on top of your game.
</section>
<section class="recommendations testimonials">
	testimonials
</section>
<footer>
	partners,
	contacts,
	patronage,
	developer,
	career	
</foorter>