@import 'RedHat.scss', 'gafataFont', 'XanhMono.scss';


    /*   ******HEADER******* */
@mixin gradient($to, $color1, $color2){
	background-image: linear-gradient($to, $color1, $color2);
}

header{
	font-family: "Red Hat Display";
	font-size: 2em;
	font-weight: 900;
	padding: 10px;
	@include gradient(-47.5deg, #1c2690, #5f6ae0);
	padding-bottom: 0;
	box-shadow: inset 0 0 0 2px rgba(0, 6, 6, .2);
	
	ul>li{
		color: white;
		font-family: gafata, serif;
		text-transform: uppercase;
		font-size: 0.5em;
		font-weight: 500;
		margin-right: 15px;
		white-space: nowrap;
		height: 25px;
		padding: 6px;
		border-radius: 10px 10px 0 0;
		&:hover, &:active, &:focus{
			background-color: hsla(0, 6%, 6%, .5);
		}
	}
	
	ul>li:last-of-type{
		margin-right: 0;
	}
	
	div{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 20px;
		min-width: 320px;
		text-shadow: hsla(0, 0, 0, .3) 1px 1px;
		 span{
		 	margin-right: calc(100vw - 8em);
		 	color: white;
		 }
	
		 i:first-of-type{
		 		font-size: 18px;
		 		background-color: #ffffff;
		 		color: transparent;
		 		opacity: 2;
		 }
		 i:last-child{
		 		font-size: 42px;
		 		color: #ffffff;
		 		opacity: 0.9;
		 }
	}
}
/*  ******* SLIDER ******** */
	ul.navigation, section.testimonials{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 5px;
		padding-right: 5px;
		overflow-x: scroll;
		scrollbar-width: thin;
	}
	
/*    ***** SCROLLBAR****** */
	ul::-webkit-scrollbar, section.testimonials::-webkit-scrollbar{
		display:none;
	}
	ul::-webkit-scrollbar:hover, ul::-webkit-scrollbar:active, section.testimonials::-webkit-scrollbar:hover, section.testimonials::-webkit-scrollbar:active{
		display: block;
	}
	
	ul::-webkit-scrollbar-thumb, section.testimonials::-webkit-scrollbar-thumb{
		width: 8px;
		height: 2px;
		border-radius: 3px;
  }
  ul::-webkit-scrollbar-button, section.testimonials::-webkit-scrollbar-button{
  	display:none;
  }
  ul::-webkit-scrollbar-track-piece, section.testimonials::-webkit-scrollbar-track-piece{
  		color: transparent;
  		background-color: transparent;
  }

  /* **********BANNER***********    */
  
div.background_color{
		background-image: linear-gradient(to bottom, #5f6ae0 25%, #ffffff);
		padding: 10px 5px;	
	 section.banner{
	  	height: 40vh;
	  	width: 100%;
	  	color: orange;
	  	background-image: linear-gradient(to bottom, #5f6ae0 25%, #ffffff), ;
	  	background: url(../assets/banner.jpg), linear-gradient(to bottom, #5f6ae0 25%, #ffffff);
	  	background-origin: border-box;
	  	background-size: cover;
	  	background-position: center;
	  	background-repeat: no-repeat;
	  	background-blend-mode: darken;
	  	border-radius: 20px;
	  }
	  
	  
 } 
  
  
  
  /* ******* MAIN *************** */
  
section.main{
	h1{
		font-family: gafata;
		font-weight: bold;
		font-size: 2em;
		margin: 20px;
  	margin-top: 70px;
  	text-align: center;
	}
	>div{
		margin: 0 auto;
		
	}
	>div>div {
		margin: 75px auto 0 auto;
		width: 100vw;
		min-width: 250px;
		height: 200px;
		//outline: 1px solid black;
		text-align: center;
		vertical-align: middle;
		border-radius: 10px;
		//box-shadow: 0 3px 3px 3px #cc41423f;
		padding: 20px;
		font-size: 1em;
		color: gray;
		h2{
			font-family: gafata;
			font-size: 1em;
			font-weight: 500;
		}
		
		button{
			margin-top: 20px;
			display: block;
	  	margin-left: auto;
  		margin-right: auto;
		}
		button::before{
			content: "⟶";
			font-size: 2em;
		}
		
		img{
			width: 100px;
			height: 100px;
			display: block;
			border-radius: 50%;
			shape-outside: circle(50px at center);
		}
		
 }
 section.testimonials{
 	padding: 20px 40px;
 	h1{
 		margin: 0 100px 0 0;
 	}
 	margin: 150px 0;
 	>*{
 		margin-right: 100px;
 		flex: 0 0 200px;
 	}
 }
 
 
 .left {
			float: left;
		}
	.right {
			float: right;
		}
		.uppercase {
			text-transform: uppercase;
		}
		.lowercase {
			text-transform: lowercase;
		}
		
		img.right {
			box-shadow: 0 3px 3px 0 #cc41423f;
		}
		
		img.left {
			box-shadow: 0 3px 3px 0 #cc41423f;
		}
		/*div.left p{
			box-shadow: 2px 0 2px 2px #cc41423f;
		}
		div.right p{
			box-shadow: 0px 2px 2px 0px #cc41423f;
		}*/
}

/*    ********CALL TO ACTION****** */

section.call_to_action{
	background-color: gray;
	text-align: center;
	padding: 50px 0;
}


/*  ************FOOTER*********** */
footer{
	background: black;
	color: white;
	text-align: center;
	padding: 50px 0;
	>*{
		margin: 20px auto;
	}
	div.action:not(:focus):not(:active){
		display: none;
	}
	div.action:focus, div.action:hover{
		display: block;
	}
}
  /* ********MISCELLANEOUS******* */

h2{
	margin-bottom: 20px;
	color: orange;
}

 section.main>section.call_to_action>div{
	display: block;
	margin: 20px auto;
	button{
		margin: 0 10px;
	}
}

section.main>h1{
	margin-top: 50px;
	clear: left;
	transform: translateY(90px);
}

div.left:last-of-type img{
	margin-right: 5px;
}

button.postive{
	vertical-align: center;
	text-align: center;
}

footer button{
	padding-right: 20px;
}